
.ipynb_checkpoints/Samuel-checkpoint.ipynb
.ipynb_checkpoints/TP3-checkpoint.ipynb
.RData
.Rhistory
.ipynb_checkpoints/Apprentissage en ligne 29032018-checkpoint.ipynb
.ipynb_checkpoints/Apprentissage en ligne-checkpoint.ipynb
.ipynb_checkpoints/Apprentissage en ligne_old-checkpoint.ipynb
.ipynb_checkpoints/GIVOIS_SALL_Online_Learning_Notebook-checkpoint.ipynb
.ipynb_checkpoints/GIVOIS_SALL_Online_Learning_Notebook_a_valide-checkpoint.ipynb
